/* =====================================
   FITMODEL THEME VARIABLES
===================================== */

:root {
  --bg: #050816;
  --surface: #0d1522;
  --card: #131d2c;

  --text: #ffffff;
  --text-secondary: #b6c2d3;

  --primary: #00e5a8;
  --border: rgba(255, 255, 255, 0.08);
}

body {
  background: var(--bg);
  color: var(--text);
}

body.light-mode {
  --bg: #f6f8fc;
  --surface: #ffffff;
  --card: #ffffff;

  --text: #111827;
  --text-secondary: #64748b;

  --primary: #00c48c;
  --border: rgba(0, 0, 0, 0.08);
}
